<h1>Public::Homes#top</h1>
<p>Find me in app/views/public/homes/top.html.erb</p>

<div class = "container">
    <div class = "row">
        
        <div class = "col-md-3 col-lg-3">
            
        </div>
        
        <div = "row">
          <div class ="col-mg-10 col-lg-7 text-align-center" >
              
              <!--welcome-->
               <div class="card  text-center text-align-center" >
                 <div class="card-img" >
                    <%= image_tag 'cake.jpg', size: '750x500' %>
                     <div class="card-img-overlay  text-align-center text-center">
                       <p class="text font-weight-bold cover-text text-center ">
                         ようこそ、ながのCAKEへ！<br>このサイトは、ケーキ販売のECサイトになります。<br>会員でない方も商品の閲覧は出来ますが、<br>購入には会員登録が必要になります。
                       </p>
                    </div>
                  </div>
               </div>
               
               
                
          </div>
        </div>
       
        
       
        

    </div>
</div>